@font-face {
  font-family: 'Inter Bold';
  src: url(assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Inter Semibold';
  src: url(assets/fonts/static/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Inter Regular';
  src: url(assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-green: #c5f82a;
  --color-white: #ffffff;
  --color-grey-700: #333333;
  --color-grey-800: #1f1f1f;
  --color-grey-900: #141414;

  --font-family-bold: 'Inter Bold', sans-serif;
  --font-family-semibold: 'Inter Semibold', sans-serif;
  --font-family-regular: 'Inter Regular', sans-serif;

  --font-size-large: 1.5rem;
  --font-size-base: 0.875rem;

  --space-xxlarge: 2.5rem;
  --space-xlarge: 1.875rem;
  --space-large: 1.375rem;
  --space-medium: 1rem;
  --space-small: 0.875rem;
  --space-xsmall: 0.5rem;
}

body {
  align-content: center;
  min-block-size: 100vh;
  background-color: var(--color-grey-900);
}

/* MARK: card */
.card {
  border-radius: 1rem;
  background-color: var(--color-grey-800);
  padding: clamp(var(--space-xlarge), 5vw, var(--space-xxlarge));
  width: calc(5.35vw + 19.1875rem);
  margin-inline: auto;
}

/* MARK: avatar */
.avatar {
  display: block;
  width: 5.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-inline: auto;
  margin-block-end: var(--space-large);
}

/* MARK: person-info */
.person-info {
  text-align: center;
  margin-block-end: var(--space-xlarge);
}

.person-info__name {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-large);
  color: var(--color-white);
  margin-block-end: var(--space-xsmall);
}

.person-info__location {
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-base);
  color: var(--color-green);
  margin-block-end: var(--space-xlarge);
}

.person-info__bio {
  font-family: var(--font-family-regular);
  font-size: var(--font-size-base);
  color: var(--color-white);
  opacity: 0.75;
}

/* MARK: social-links */
.social-links {
  display: grid;
  gap: var(--space-medium);
  list-style: none;
}

.social-links__item {
  background-color: var(--color-grey-700);
  border-radius: 0.5rem;
  text-align: center;
}

.social-links__link {
  display: block;
  text-decoration: none;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-base);
  color: var(--color-white);
  letter-spacing: 0.0125rem;
  padding: var(--space-small);
  border-radius: inherit;
  transition: background-color 0.3s ease-in-out;
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--color-green);
  color: var(--color-grey-900);
}

.social-links__link:focus {
  outline: none;
}
